@model Gemstone.Web.ViewModels.DirectAssignmentModel

@{
    ViewData["Title"] = "Assign";
}

<div class="alert alert-primary">
    Assign work directly to @Model.SpecialistName
</div>

<th:form asp-controller="Specialist" asp-action="DirectAssign" method="post">
    <th:input type="hidden" asp-for="SpecialistID" />
    <th:input type="hidden" asp-for="AssignorID" />
    <th:input type="hidden" asp-for="SpecialistName" />
    <th:div asp-validation-summary="All" class="text-danger"></th:div>
    <div class="form-group">
        <th:label asp-for="ResultDescription" class="control-label"></th:label>
        <th:textarea asp-for="ResultDescription" placeholder="e.g. standard checks and repairs" class="form-control"></th:textarea>
        <th:span asp-validation-for="ResultDescription" class="text-danger"></th:span>
    </div>
    <div class="form-group">
        <th:label asp-for="ProposedMaxPrice" class="control-label"></th:label>
        <th:input asp-for="ProposedMaxPrice" class="form-control" />
        <th:span asp-validation-for="ProposedMaxPrice" class="text-danger"></th:span>
    </div>
    <div class="form-group">
        <th:label asp-for="ProposedDoneOn" class="control-label"></th:label>
        <th:input asp-for="ProposedDoneOn" class="form-control" />
        <th:span asp-validation-for="ProposedDoneOn" class="text-danger"></th:span>
    </div>
    <div class="form-group">
        <th:label asp-for="ExpiresOn" class="control-label"></th:label>
        <th:input asp-for="ExpiresOn" class="form-control" />
        <th:span asp-validation-for="ExpiresOn" class="text-danger"></th:span>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</th:form>