
@{
    ViewData["PageTitle"] = "Logged out";
}

<div class="alert alert-success">
    <strong>Logged out!</strong> Remember to log out after you end your work to prevent someone to use your identity.
</div>