@model Gemstone.Web.ViewModels.RegisterModel

@{
    ViewData["PageTitle"] = "Register";
}

@* todo use latest scripts *@
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>


<th:form asp-controller="Account" asp-action="Register" method="post">
    <th:div asp-validation-summary="All" class="text-danger"></th:div>
    <div class="form-group">
        <th:label asp-for="Username" class="control-label"></th:label>
        <th:input asp-for="Username" class="form-control" />
        <th:span asp-validation-for="Username" class="text-danger"></th:span>
    </div>
    <div class="form-group">
        <th:label asp-for="Password" class="control-label"></th:label>
        <th:input asp-for="Password" class="form-control" />
        <th:span asp-validation-for="Password" class="text-danger"></th:span>
    </div>
    <div class="form-group">
        <th:label asp-for="ConfirmPassword" class="control-label"></th:label>
        <th:input asp-for="ConfirmPassword" class="form-control" />
        <th:span asp-validation-for="ConfirmPassword" class="text-danger"></th:span>
    </div>
    <div class="form-group">
        <th:label asp-for="SelectedRoleName" class="control-label"></th:label>
        @*<th:select asp-for="SelectedRoleName" class="form-control" asp-items="Model.AvailableRoles"></th:select>*@
        <th:select asp-for="SelectedRoleName" class="form-control" asp-items="ViewBag.AvailableRoles"></th:select>
        <th:span asp-validation-for="SelectedRoleName" class="text-danger"></th:span>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</th:form>