@model Gemstone.Web.ViewModels.RegisterModel

@{
    ViewData["PageTitle"] = "Register";
}

<th:form asp-controller="Account" asp-action="Register" method="post">
    <th:div asp-validation-summary="All" class="text-danger"></th:div>
    <div class="form-group">
        <th:label asp-for="Username" class="control-label"></th:label>
        <th:input asp-for="Username" class="form-control" />
        <th:span asp-validation-for="Username" class="text-danger"></th:span>
    </div>
    <div class="form-group">
        <th:label asp-for="Password" class="control-label"></th:label>
        <th:input asp-for="Password" class="form-control" />
        <th:span asp-validation-for="Password" class="text-danger"></th:span>
    </div>
    <div class="form-group">
        <th:label asp-for="ConfirmPassword" class="control-label"></th:label>
        <th:input asp-for="ConfirmPassword" class="form-control" />
        <th:span asp-validation-for="ConfirmPassword" class="text-danger"></th:span>
    </div>
    <div class="form-group">
        <th:label asp-for="SelectedRoleName" class="control-label"></th:label>
        <th:select asp-for="SelectedRoleName" class="form-control" asp-items="Model.AvailableRoles">
        </th:select>
        <th:span asp-validation-for="SelectedRoleName" class="text-danger"></th:span>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</th:form>