@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor

@if (accessor.HttpContext.User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Sign out", "SignOut", "Account")
    var user = accessor.HttpContext.User;
    <div>
        <p>You are signed in as @user.Identity.Name</p>
    </div>
}
else
{
    @Html.ActionLink("Sign in", "SignIn", "Account")
}
