@{
    ViewData["PageTitle"] = "Home";
}

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <h2>The problem</h2>
        </div>
        <div class="col-md-8">
            Person who wants to give job/work
            (further referenced as <strong>Assignor</strong>).
            have trouble to find good/reliable worker
            (further references as <strong>Specialist</strong>).


        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>The solution</h2>
        </div>
        <div class="col-md-8">
            Find appropriate (price-time-quality triangle) Specialist and assign to him a job/work.
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>user story 01</h2>
        </div>
        <div class="col-md-8">
            <pre>
as                  registered (Assignor)
i want to	    browse available Professionals
so i can	    know they exist and check out their statuses
at location	    new page
in form of	    immutable liste
            </pre>
        </div>
    </div>

</div>
