@{
    ViewData["PageTitle"] = "Home";
}



<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>About Concept</h2>
            @*<h5>Photo of me:</h5>*@
            @*<div class="fakeimg">Fake Image</div>*@
            @*<p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            <h3>Some Links</h3>
            <p>Lorem ipsum dolor sit ame.</p>*@
            @*<ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <hr class="d-sm-none">*@
        </div>
        <div class="col-md-8">


            @*<pre>*@
Imagine:
You are going for long trip on your motorcycle. 
You need to get your machine into perfect state before you depart.
Because getting motorcycle into perfect state is not an easy task, 
de facto it is easily spoilable by low-quality mechanics, that won't tell be honest with you and
say they are not suitable for this task.

You need a simple tool, a simple device to easily find and assign the task.
You care about quality of work and the time and you also know this type of work won't stay anywhere near "cheap".

So here you are - register as Assignor, provide the desired range for work quality, worktime length and price,
and application will compute and figure out best option in suitable proximity basing on colleted data.


@*</pre>*@
            



            @*<h2>TITLE HEADING</h2>
            <h5>Title description, Dec 7, 2017</h5>
            <div class="fakeimg">Fake Image</div>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <br>
            <h2>TITLE HEADING</h2>
            <h5>Title description, Sep 2, 2017</h5>
            <div class="fakeimg">Fake Image</div>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>*@
        </div>
    </div>
</div>
