@{
    ViewData["PageTitle"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>The background concept</h4>
        </div>
        <div class="col-md-8">
            <h6>Imagine:</h6>
            <p>
                You are going for long trip on your motorcycle.
                You need to get your machine into perfect state before departure - making it impossible for any failure to occur, which could surely ruin your joureny experience.
                Because getting motorcycle into perfect state is not an easy task,
                de facto it is easily spoilable by low-quality mechanics, that won't be honest with you and
                say they are not suitable for this task.
            </p>
        </div>
        <div class="col-md-4">
            <h4>The need of</h4>
        </div>
        <div class="col-md-8">
            <p>
                You need a simple tool, a simple device to easily find and assign the task of any type.
                You care about quality of work and the time and you also know this type of work won't stay anywhere near "cheap".
            </p>
      </div>
        <div class="col-md-4">
            <h4>The solution</h4>
        </div>
        <div class="col-md-8">
            <p>
                So here you are - register as Assignor, provide the desired range for work quality, worktime length and price,
                and application will compute and figure out best option in suitable proximity basing on colleted data.
            </p>
     </div>
    </div>
</div>
