
@{
    ViewData["Title"] = "View";
}


<div>
    search for Specialist to fix your motocycle
</div>


<div>
    @Html.ActionLink("browse list of available Specialists", "Index", "Specialist")
</div>
