
@{
    ViewData["Title"] = "View";
}


<div>
    motocycle workshop <br />
    search for Professional to fix your motocycle
</div>


<div>
    @Html.ActionLink("browse list of available Professionals", "Index", "Profesionall")
</div>
