
@{
    ViewData["Title"] = "View";
}


<div>
    motocycle workshop <br />
    search for Professional to fix your motocycle
</div>


<dic>
    @Html.ActionLink("list of available Professionals", "List", "Profesionall")
</dic>


