@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor
@using Gemstone.Core.Enums
@{
    ViewData["PageTitle"] = "Home";
}

@if (accessor.HttpContext.User.Identity.IsAuthenticated)
{
    if (accessor.HttpContext.User.IsInRole(nameof(AccountRole.Assignor)))
    {
        <div class="d-flex justify-content-center">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <p class="card-text">As Assignor you can</p>
                    <ul>
                        <li><strong>Manual Assignment.</strong> Browse and choose directly suitable Specialist</li>
                        <li><strong>Automatic Assignment.</strong> Let application auto-assign best Specialist using built-in alghoritm</li>
                        <li><strong>Auction Assignment.</strong> Make an auction - Specialists can agree to take Assignment for certain price</li>
                    </ul>
                </div>
            </div>
        </div>
    }
    if (accessor.HttpContext.User.IsInRole(nameof(AccountRole.Specialist)))
    {
        <p>(Specialist)</p>
    }
}
else
{
    <div class="d-flex justify-content-center">
        <div class="card bg-light">
            <div class="card-body text-center">
                <p class="card-text">Login as Assignor or Specialist</p>
                <a href="@Url.Action("Login","Account")" class="btn btn-primary btn-block" role="button">Login</a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card bg-light">
            <div class="card-body text-center">
                <p class="card-text">Register to gain access to app</p>
                <a href="@Url.Action("Register","Account")" class="btn btn-primary btn-block" role="button">Register</a>
            </div>
        </div>
    </div>
}