@{
    ViewData["PageTitle"] = "Home";
}

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <h2>The problem</h2>
        </div>
        <div class="col-md-8">
            Person who wants to give job/work
            (further referenced as <strong>Assignor</strong>).
            has trouble to find good/reliable worker
            (further references as <strong>Specialist</strong>).
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>The solution</h2>
        </div>
        <div class="col-md-8">
            Find appropriate (price-time-quality triangle) Specialist and assign to him a job/work.
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>user story 01</h2>
            <span class="badge badge-success">Status: done</span>
        </div>
        <div class="col-md-8">
            <code>

                as                  registered (Assignor) <br />
                i want to	    browse available Professionals<br />
                so i can	    know they exist and check out their statuses<br />
                at location	    new page<br />
                in form of	    immutable liste<br />
            </code>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>user story 02</h2>
            <span class="badge badge-warning">Status: doing</span>
        </div>
        <div class="col-md-8">
            <code>
                as 		Assignor<br />
                i want to 	give an Assignment to choosen by me Professional<br />
                so i can 	assign Assignment, and over time had job done<br />
                at location 	page (list of Professionals) > new modal<br />
                in form of	submit form<br />
            </code>
        </div>
    </div>

</div>
